@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
  }
  
.demo{
    background-color: violet;
    /* opacity: .; */
    /* border: 2px solid red; */
    /* width: 100%; */
}
  
.nav-item{
    /* gap: 20px; */
    /* border: 1px solid red; */
    width: 300px;
    padding: 10px;
}  
 svg{
    width: 30px;
    /* margin-right: 20px; */
 }
  
input::placeholder{
    color: rgb(95, 67, 67);
    font-size: 1.2rem;
    /* padding: 0 20px; */

}
input:focus{
    outline: none;
}